# Entornos virtuales
env/
venv/
*.env

# Python
__pycache__/
*.pyc

# Datos pesados
data/**
!data/**/
!data/**/*.dvc

# Modelos entrenados
models/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db