# Entornos virtuales
env/
venv/
*.env

# Python
__pycache__/
*.pyc

# Ignorar los archivos CSV (la data real)
data/**/*.csv

# Pero NO ignorar los archivos de configuración de DVC
!data/**/*.dvc

# Modelos entrenados
models/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db