# Entornos virtuales
env/
venv/
*.env

# Python
__pycache__/
*.pyc

# Ignorar los archivos de datos reales
data/raw/churn_sintetico.csv
data/processed/data_final.csv
models/model_pipeline.joblib

# Ignorar el cache interno de DVC (IMPORTANTE)
.dvc/cache
.dvc/tmp
.dvc/config.local

# Asegúrate de NO ignorar los archivos .dvc
!*.dvc

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db